.wrapper {
    position: relative;
    width: 500px;
}
.error {
    font-size: 1rem;
    color: #f4f4f4;
    position: absolute;
    top: 5rem;
    left: 0rem;
}

input {
    width: 500px;
}
